<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixin.xiaoyi.invite.dao.mapper.UserInviteRecordMapper">

    <resultMap type="UserInviteRecord" id="UserInviteRecordResult">
        <id property="id" column="id"/>
        <result property="inviterUserId" column="inviter_user_id"/>
        <result property="inviteeUserId" column="invitee_user_id"/>
        <result property="inviteCode" column="invite_code"/>
        <result property="exchangedVip" column="exchanged_vip"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>
