# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\YiXin\UserData\Documents\个人\工作\求职\求职-正式\公司\尚米\项目\xiaoyi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
